@CHARSET "UTF-8";

/*관리자 페이지 : 회원관리 */
#memberList-container {text-align:center; margin-top: -187px; margin-left: 603px;}
section#memberList-container table#tbl-member {border:1px solid gray; border-collapse:collapse;}
table#tbl-member th, table#tbl-member td {border:1px solid gray; padding:10px; }

/* 검색 창 */
.adminPage-board {
    margin-left: 320px;
}

.chatTitle {
    margin-left: 135px;
}

section#memberList-container div#neck-container{padding:0px; height: 50px; background-color:rgba(0, 188, 212, 0.3);}
section#memberList-container div#search-container {margin:0 0 10px 0; padding:3px; float:left;}

/*페이징 : 페이지당회원수*/
section#memberList-container div#numPerPage-container{float:right; margin-top: 10px;}
section#memberList-container form#numPerPageFrm{display:inline;}
.memberList-container2 {margin-left: -350px;}

/*페이지바*/
div#pagebar span.cPage{margin-right: 5px;}
div#pagebar a{margin-right: 5px;}

#pagebar {
	text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -430px;
    margin-top:20px; 
    padding-bottom: 20px;
    gap: 10px;
}

.adminPage-section {
	display : flex;
	flex-direction: row;
}

table#tbl-member {
    table-layout: fixed;
    width: 1000px; /* 원하는 너비로 설정 */
    word-wrap: break-word; /* 단어 단위로 줄바꿈 */
    margin-top: 20px;
}

#tbl-member th, td {
    text-align: center;
}

table#tbl-member th.id, table#tbl-member td.id {
    width: 15%;  /* 아이디 칸 너비 */
}

table#tbl-member th.name, table#tbl-member td.name {
    width: 15%;  /* 이름 칸 너비 */
}

table#tbl-member th.email, table#tbl-member td.email {
    width: 30%;  /* 이메일 칸 너비 */
}

/* 사이드바 */

#checked-title2 {
    font-size: 35px;
    font-weight: 500;
    position: absolute; /* 절대적인 위치 지정 */
    left: 600px; /* 왼쪽에서 50% 위치로 이동 */
    top: -90px;
}
