

.animal-container {
    display: flex;
    justify-content: space-around
}
.animal-sidebar {
    margin-top: 30px;
    width: 30%;
    text-align: center;
}
.animal-detail-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 테이블 영역 */
.table-container {
    display: flex;
    justify-content: center;
}

.table-container tr{
    padding: 30px;
    border: 1px solid rgb(116, 116, 116);
}
.table-container th {
    background-color: #bcd9d1;
    border: 1px solid rgb(116, 116, 116);
    font-weight: 700;
    padding: 15px;
}

.side-menu {
    font-size: 20px;
    margin: 10px;
    z-index: 999;
}


.side-hr{
    border: 0;
    height: 2.5px;
    background: #e3e3e3;
    width: 250px;
}

.section-hr {
    background: #b0b0b0;
    width: 1200px;
}


/* 입양신청 게시판 List */
.animal-section {
	display: flex;
    flex-direction: row;
}

table#tbl-adopboard {
	width: 700px;
	padding: 15px;
	text-align: center;
}

table#tbl-adopboard td{
	border-bottom: 3px solid #e3e3e3;
}

table#tbl-adopboard tr td{
	margin: 20px;
	padding: 10px;
}

.adoption-section {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width : 100%
}

.animal-detail-section {
    display: flex;
}


/* 입양신청 게시글 작성 페이지 */

.adoption-board{

}

.adoption-board-section {
	display:flex;
	flex-direction: row;
}
.adoption-container{
	display:flex;
	align-content: center
}

#guide-text {
	font-size:17px;
	margin-bottom: 20px;
}
.adoption-board-table {
	width: 630px;
    table-layout:fixed;
    margin: 30px;
    text-align: center;
}

.adoption-board-table tr td:first-child{
	background-color: #bcd9d1;
    padding: 10px;
}
.adoption-board-table td {
    font-weight: 700;
}