@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff')
		format('woff');
	font-weight: 700;
	font-style: normal;
}

/* 로그인 관련 css */
#login-section {
   display: flex;
   justify-content: center;
   margin: auto 0;
   align-items: center;
   
}

.login-container {
	margin-left: 300px;
	margin-top: 50px;
}

#login-table {
	padding: 20px;
	width: 500px;
	height: 200px;
	text-align: center;
}

#login-table tr td input {
	margin: 20px;
}

.login_btn {
	margin-left: -30px;
	margin-top: 30px;
	margin-bottom: 50px;
	position: relative;
	gap : 10px;

}

#btn1 {
   margin-top: 30px;
   background: #5fab95;
   color: white;
   border: none;
   zoom: 2.0;
   cursor:pointer;
   font-size: 5px;
}

#btn2 {
   margin-top: 30px;
   position: absolute;
   background: #5fab95;
   color: white;
   border: none;
   zoom: 2.0;
   cursor:pointer;
   font-size: 5px;
}

#btn1:hover {
	border: black;
}


#input singup-btn,saveId,btn1{
	width: 130px;
	margin: 150px;
	justify-content: center;
	style: transform;
}


#saveId{
   width: 30px;
   height: 30px;
   border: none;
   border-top: none;
   border-bottom: none;
   border-right: none;
   border-left: none;
   	margin-left: 50px;
}
  
.saveId3 {
	margin-top: -50px;
	margin-left: 10px;
	padding-left: 60px;
}

.saveId4 {
	margin-left: 40px;
}

#loginFrm img {
	width: 150px;
	margin-bottom: 60px;
	margin-left: 45px;
}

/* 회원가입 관련 css*/
#enroll-table {

}
