@font-face {
	font-family: 'KBO-Dia-Gothic_bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff')
		format('woff');
	font-weight: 700;
	font-style: normal;
}

/* 로그인 관련 css */
#login-section {
	display: flex;
	justify-content: center;
	margin: 100px;
}

#login-table {
	padding: 20px;
	width: 500px;
	height: 200px;
	text-align: center;
}

#login-table tr td input {
	margin: 20px;
}

#btn1 {
	margin-top: 10px;
	bottom: px;
	justify-content: center;
	background: #5fab95;
	font-family: 'KBO-Dia-Gothic_bold';
	color: white;
	border: none;
}

#btn1:hover {
	border: black;
}


input[type=checkbox] {
	width: 130px;
	margin: 150px;
	justify-content: center;
}

​
#singup-btn {
	border: none;
	font-family: 'KBO-Dia-Gothic_bold';
}

#saveId {
	font-family: 'KBO-Dia-Gothic_bold';
}
/* 회원가입 관련 css*/
#enroll-table {
	background: red;
}