@charset "UTF-8";


.checkBoxcheck ul li{ /* ul 요소 내의 li 요소에 대한 스타일 설정 */
	float: right; /* 오른쪽으로 정렬 */
}
.checkBtn {
    margin-top: 11px; /* 위쪽 여백 설정 */
    margin-bottom: 11px;  /* 아래쪽 여백 설정 */
}

.join_box span{
	color: red;
}

.join_box span2{
	color: #828282;
}

.terms-title input[type="checkbox"] {
    width: 15px; /* 원하는 가로 크기로 설정 */
    height: 15px; /* 원하는 세로 크기로 설정 */
    margin-right: 8px;
}

.terms-title label {
    font-size: 20px; /* 원하는 폰트 크기로 설정 */
}

.clearfix {
	margin-top: 10px;
}

.checkBtn input[type="checkbox"] {
    margin-right: 10px;
}

.terms-content {
	width: 705px;
	height: 80px;
	border: 1px solid #b1b1b1;
	background: #efefef;
}

.join_box {
	margin-top: 20px;
	margin-left: 40px;
}

#disabled-button{
	width: 200px; /* 가로 크기 설정 */
	height: 49.17px; /* 세로 크기 설정 */ 
	background: #5fab95;  /* 배경색 설정 */
	color: #FFF; /* 글자 색상 설정 */
	border: 0 solid #5fab95; /* 테두리 스타일과 색상 설정 */
	border-radius: 5px; /* 테두리의 모서리를 둥글게 설정 */
	cursor: pointer; /* 커서 모양 설정 */
	font-size: 16px; /* 글꼴 크기 설정 */
	margin-left: 280px;  /* 왼쪽 여백 설정 */
	margin-bottom: 60px;  /* 아래쪽 여백 설정 */
	

}