#messageTextArea {
    background-color:  #A8C0D6;
    color: black;
}

.messageContainer {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.chat-container{
	margin: auto 0;
}

.float-left {
	margin: 5px;
}

.chat-container2 {
	margin-left: 910px;
	margin-top: -240px;
	margin-bottom: 100px;
	overflow-y: auto; width: 970px; max-height: 500px; padding: 4px; border: 1 solid #000000;
}

